{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Inicio</title>
{% endblock %}

{% block navegacion %}
{% include 'nav_bar.html' %}
{% endblock %}

{% block contenido %}
<div class="card text-bg-dark" width="100%" height="auto">
    <img src="{% static 'img/Banner.png' %}" class="img-fluid" alt="{{ contenido.titulo }}" width="100%" height="auto">
</div>
    <h1>Artículos</h1>

    {% if articulos %}
        <ul>
            {% for articulo in articulos %}
                <li>
                    <h2><a href="{% url 'post:leer_articulo' articulo.pk %}">{{ articulo.titulo }}</a></h2>
                    {% if articulo.imagen %}
                        <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" width="150">
                    {% endif %}
                    <p>{{ articulo.contenido|truncatewords:30 }}</p>
                    <p>Publicado el {{ articulo.fecha_publicacion }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay artículos disponibles.</p>
    {% endif %}
    {% endblock %}