{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Inicio</title>
{% endblock %}
{% block navegacion %}
{% include 'nav_bar.html' %}
{% endblock %}

{% block contenido %}
<div class="card text-bg-dark" width="100%" height="auto">
    <img class="card-img" src="{% static 'img/banner.png' %}" alt="Banner" width="100%" height="auto">
</div>
<section>
<h1>Artículos</h1>
<ul>
    {% if articulo in articulos %}
    <li style="list-style: none;">
        <h2>{{ articulo.titulo }}</h2>
        {% if articulo.imagen %}
        <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}">
        {% endif %}
        <p>{{ articulo.contenido }}</p>
        <p>Publicado el {{ articulo.fecha_publicacion }}</p>
    </li>
    {% else %}
    <li>No hay artículos disponibles.</li>
    {% endif %}
</ul>
{% endblock %}