<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Articulos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'post:crear_articulo' %}">Crear Articulo</a></li>
              <li><a class="dropdown-item" href="{% url 'post:lista_articulos' %}">Lista de Articulos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Lenguajes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'post:php_view' %}">PHP</a></li>
              <li><a class="dropdown-item" href="{% url 'post:python_view' %}">Python</a></li>
              <li><a class="dropdown-item" href="{% url 'post:java_view' %}">Java</a></li>
              <li><a class="dropdown-item" href="{% url 'post:javascript_view' %}">JavaScript</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>