{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>JavaScript</title>
{% endblock %}
{% block navegacion %}
{% include 'nav_bar.html' %}
{% endblock %}

{% block contenido %}
<div class="img_banner" width="100%" height="1200px">
    <img class="card-img" src="{% static 'img/js.png' %}" alt="Banner" width="100%" height="auto">
</div>
<section>
    <h1>Contenido de JavaScript</h1>
    <p>JavaScript (abreviado comúnmente JS) es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, basado en prototipos, imperativo, débilmente tipado y dinámico. Se utiliza principalmente del lado del cliente, implementado como parte de un navegador web permitiendo mejoras en la interfaz de usuario y páginas web dinámicas y JavaScript del lado del servidor (Server-side JavaScript o SSJS). Su uso en aplicaciones externas a la web, por ejemplo en documentos PDF, aplicaciones de escritorio (mayoritariamente widgets) es también significativo.</p>
    <ul>
        {% for articulo in articulos %}
        <li style="list-style: none;">
            <h1>{{ articulo.titulo }}</h1>
            {% if articulo.imagen %}
            <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}">
            {% endif %}
            <p>{{ articulo.contenido }}</p>
            <p><strong>Autor:</strong> {{ articulo.autor.username }}</p>
            <p>Publicado el {{ articulo.fecha_publicacion }}</p>
            <a href="{% url 'post:leer_articulo' articulo.pk %}" class="btn btn-secondary">Leer mas</a>
            {% if user.is_authenticated %}
            <a href="{% url 'post:actualizar_articulo' articulo.pk %}" class="btn btn-secondary">Editar</a>
            <a href="{% url 'post:eliminar_articulo' articulo.pk %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
        </li>
        {% empty %}
        <li>No hay artículos disponibles.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}