<!-- apps/post/templates/post/php.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>PHP</title>
{% endblock %}
{% block navegacion %}
{% include 'nav_bar.html' %}
{% endblock %}

{% block contenido %}
<div class="img_banner" width="100%" height="1200px">
    <img class="card-img" src="{% static 'img/php.png' %}" alt="Banner" width="100%" height="auto">
</div>
<section>
    <h1>Contenido de PHP</h1>
    <p>Aquí puedes agregar información relacionada con PHP.</p>
    <ul>
        {% for articulo in articulos %}
        <li style="list-style: none;">
            <h2>{{ articulo.titulo }}</h2>
            {% if articulo.imagen %}
            <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}">
            {% endif %}
            <p>{{ articulo.contenido }}</p>
            <p>Publicado el {{ articulo.fecha_publicacion }}</p>
            <a href="{% url 'post:actualizar_articulo' articulo.pk %}">Editar</a>
            <a href="{% url 'post:eliminar_articulo' articulo.pk %}">Eliminar</a>
        </li>
        {% empty %}
        <li>No hay artículos disponibles.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}