{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Python</title>
{% endblock %}
{% block navegacion %}
{% include 'nav_bar.html' %}
{% endblock %}

{% block contenido %}
<div class="img_banner" width="100%" height="1200px">
    <img class="card-img" src="{% static 'img/python.png' %}" alt="Banner" width="100%" height="auto">
</div>
<section>
    <h1>Contenido de Python</h1>
    <p>Aquí puedes agregar información relacionada con Python.</p>
    <ul>
        {% for articulo in articulos %}
        <li style="list-style: none;">
            <h2>{{ articulo.titulo }}</h2>
            {% if articulo.imagen %}
            <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}">
            {% endif %}
            <p>{{ articulo.contenido }}</p>
            <p>Publicado el {{ articulo.fecha_publicacion }}</p>

            {% if user.is_staff %}
            <a href="{% url 'post:actualizar_articulo' articulo.pk %}" class="btn btn-secondary">Editar</a>
            <a href="{% url 'post:eliminar_articulo' articulo.pk %}" class="btn btn-danger">Eliminar</a>
            {% endif %}

            <h3>Comentarios:</h3>
            {% if user.is_authenticated %}
            <form id="comentario-form" method="post" action="{% url 'post:leer_articulo' articulo.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            {% else %}
            <p>Debes 8<a href="{% url 'users:iniciar_sesion' %}">iniciar sesión</a> para comentar.</p>
            {% endif %}
        </li>
        {% empty %}
        <li>No hay artículos disponibles.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}